// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #99C68E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blue{
  color: blue;
}

.black{
  color: black;
}

.red{
  color: red;
}

.yellow{
  color: #FFE87C;
}

.tile{
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#board {
  background-color: white;
  height: 540px;
  width: 830px;
  border: 2px;
  border-color: black;
  border-style: solid;
}

#hand > .tile {
  float: left;
}

#info {
  width: 250px;
  top: 5px;
  left: 850px;
  position: fixed;
}

#flash {
  font-weight: bold;
  color: red;
}