// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #99C68E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blue{
  color: blue;
}

.black{
  color: black;
}

.red{
  color: red;
}

.yellow{
  color: gold;
}

.wrapper {
  position: relative;
  width: 51px;
  height: 50px;
}

.tile{
  position: absolute;
  background-color: floralwhite;
  width: 50px;
  height: 50px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  line-height: 50px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 3;
}

.shadow{
  box-shadow: 2px 2px dimgrey;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  position: absolute;
}

#board {
  background-color: white;
  height: 544px;
  width: 834px;
  border: 2px;
  border-color: black;
  border-style: solid;
  z-index: 0;
}

#hand > .wrapper {
  float: left;
}

#info {
  width: 250px;
  top: 5px;
  left: 850px;
  position: fixed;
}

#flash {
  font-weight: bold;
  color: red;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding: 10px;
}

ol li:before {
  content: 'Game' counter(item, decimal) '. ';
  counter-increment: item;
}

button {
  font-weight: bold;
  height: 25px;
  margin: 5px;
}

button:hover {
  box-shadow: 0 0 4px rgba(0,0,0, .75);
}

button:active {
  background-color: grey;
}