// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue{
  color: blue;
}

.black{
  color: black;
}

.red{
  color: red;
}

.yellow{
  color: #FFE87C;
}

#set2 {
  position: fixed;
  top: 110px;
}

#hand {
  position: fixed;
  top: 85%;
}

#new_set {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border_color: black;
}

ol li{
  display: inline;
  list-style-type: none;
  width: 8px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

